.register-page {
    background-color: darkgoldenrod;
    color: beige;
    width: 30%;
    margin-top: 10px;
    border-radius: 10px;
    margin: 0px auto;
}

.header {
    color: darkorange;
    font-weight: 700;
}

.register-header {
    font-weight: 700;
    color: chocolate;
}

.btn-register {
    margin-top: 5px;
}


.btn-submit {
    margin-left: 25px;
    margin-bottom: 10px;
}

.toggle-btn {
    text-decoration: none;
    color: lawngreen;
}