.home-container {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/image/image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.home-details {
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.paragraph{
    color: darkorange;
}

.heading{
    color: coral;
}